<div class="w-80 p-2" style="background-color:blue;">



<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi consequatur doloremque, in quas repudiandae voluptates. Tempore odio consequatur modi neque rem facilis, cum obcaecati aliquam ad. Exercitationem, numquam! Vitae sapiente est quaerat nesciunt officia fugiat excepturi porro veritatis! Totam rerum minus ipsum amet fugit ea veniam reiciendis repellendus voluptatum.</p>
<div class="row">
<div class="column 8">    <div column="4" class="big">
        <div class="one" style="float: left">
        <h5 >Account Details</h5>
        <div style="float: left"><img src="assets/admin.PNG" >FULL NAME </div><br>
        <input type="text" maxlength="26" size="26"><br>
 
        <div style="float: left"><img src="assets/email.jpg">Email</div><br>
        <input type="email" maxlength="26" size="26"><br>
        <div style="float: left"><img src="assets/address.jpg">Address</div><br>
        <input type="text" maxlength="26" size="26"><br>
        <div style="float: left"><img src="assets/city.jpg">City</div><br>
        <input type="text" maxlength="26" size="26"><br>

       <div>
           <div style="float: left">State<br><input type="text"maxlength="7" size="7"></div>
           <div style="float: right">Zip <br><input type="text"maxlength="6" size="7"></div>
       </div><br><br><br>
       <input type="checkbox" checked>Address1 billing as same
      <br><br><br>
    
    </div>
        

<div class="two"  style="float: right;">
    <h5 >payment</h5>
    <h6>Accepted Cards</h6>
    <img src="assets/visa.jpg" width="35px" height="35px"><img width="35px" height="35px" src="assets/master.jpg"><br>

    Name of the card<br>
    <input type="text" maxlength="26" size="26"><br>
    Card Number<br>
    <input type="text" maxlength="26" size="26" placeholder="1111-2222-3333-4444"><br>
    Exp Month<br>
    <input type="text" maxlength="26" size="26" placeholder="Month"><br>
 
    <div>
        <div style="float: left">Exp date<br><input type="text"maxlength="7" size="7"></div>
        <div style="float: right">CVV <br><input type="text"maxlength="6" size="7"></div>
    </div>
    
</div>
        <br><br><br><br>
        <button id="checkbox">CHECK TO CONTINUE</button>
    
    </div>
</div>
<!-- </div>
    <div class="container3">frgthyjui</div>
 -->

</div>


