<body>
    <div class="card">
    <h1>Company Logo</h1>
    <div class="card text-white bg-success mb-3" style="max-width: 350px;">
    <img src="./assets/burger.jpg" alt="burger" width=250px height=200px;/>
    <h2>20% OFF ON YOUR PURCHASE</h2>
    <p>HAVE A FOODIE DAY.. !</p>
    <div class="coupan">
     <label >Use Promo Code:</label>
     <input type="text" maxlenght="3" size="3"[(ngModel)]="number1"><br>
     <label style="color: red;margin-left: -160px;">Expires: Jan 03 2021</label>
    </div>
</div></div>
</body>


