
<div class="card text-white bg-success mb-3" style="max-width: 350px;">
    <div class="card-header">COMPANY NAME</div>
    <div class="card-body">
        <img src="/assets/admin.PNG" alt="John" style="width:200px">
        <div class="card-text">Emp Name:ADMIN</div>
        <div class="card-text">Emp Designation:Software Engineer<div>
        <div class="card-text" >Emp Code:<input type="text" maxlength="6" size="6" class="random" [(ngModel)]="code">
        </div>
          <div>
        <div >
          <a href="https:www.twitter.com"><img src="/assets/twitter.jpg" href="www.twitter.com" style="width:25px"></a> &nbsp;
          <a href="https:www.facebook.com"><img src="/assets/fb.jpg" style="width:25px"></a>  &nbsp;
          <a href="https:www.email.com"><img src="/assets/email.jpg" style="width:25px"></a>  <a href="#"><i class="fa fa-linkedin"></i></a>  
        </div>
    </div>

  