<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="card ">
    <div class="card-header">Simple calculator</div>
    <div class="card-body" >
    <div class=" form-group d-flex flex-row justify-content-between" align="center">
        <input type="number"[(ngModel)]="num1" maxlength="10" size="12" class="formControlName" >
        <input type="number"[(ngModel)]="num2" maxlength="10" size="12" class="formControlName">
          </div>
          <div class="d-flex flex-row justify-content-between"> 
              <button class="btn btn-success" (click)="add()">ADD</button>
            <button class="btn btn-primary" (click)="sub()">SUB</button>
            <button class="btn btn-danger" (click)="mul()">MUL</button>
            <button class="btn btn-warning" (click)="div()">DIV</button></div>
         
    </div>
    

    <div class="card-footer">The {{num1}} and {{num2}}={{res}}</div>
</div>
