<h2>Thumbnail Image</h2>
​
​
<a target="_blank" href="./assets/moon.jpg">
  <img src="./assets/moon.jpg" alt="hands" style="width:250px;height:150px"/>
</a>
<a target="_blank" href="./assets/buttter.jpg">
   <img src="./assets/buttter.jpg" alt="Friends" style="width:250px;height:150px">
</a>

 <a target="_blank" href="./assets/flower.jpeg">
        <img src="./assets/flower.jpeg" alt="water" style="width:250px;height:150px">
     </a>
     <a target="_blank" href="./assets/tour.jpg">
            <img src="./assets/tour.jpg" alt="water" style="width:250px;height:150px">
         </a>
